.cellule_draft {
    background-color: #fff8e1; /* Jaune clair */
    border-left: 5px solid #fbc02d;
    padding: 10px;
    border-radius: 8px;
}

.cellule_confirmed {
    background-color: #4caf50; /* Vert */
    color: white;
    border-left: 5px solid #2e7d32;
    padding: 10px;
    border-radius: 8px;
}

.cellule_confirmed .btn {
    background-color: white;
    color: #2e7d32;
}

.cellule_draft .btn {
    background-color: #fbc02d;
    color: black;
}
